:root {
    --primary-color: #0077be;
    /* Ocean Blue */
    --accent1-color: #367588;
    /* Teal Blue */
    --accent2-color: #008080;
    /* Teal */
    --heading-font: "Times New Roman", "Georgia," serif;
    --body-font: Arial, Helvetica, sans serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

article {
    margin: 10px;
    position: absolute;
}

nav,
p,
section,
article {
    margin: 10px;
    padding: 20px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero article img {
    float: right;
    width: 125px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 10px;
    width: 95%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: #fff;
}

footer img {
    margin: 10px;
    width: 40px;
    padding: 2px;
}